.kl-section-intro-doc-file{
  padding-bottom: 35px;
  @include media-breakpoint-down(lg){
    padding-bottom: 25px;
  }
}

.kl-section-doc-training{
  padding: 40px 0 150px;
  @include media-breakpoint-down(lg){
    padding: 30px 0 100px;
  }
  .kl-section-body-doc-training{
    padding: 145px 0;
    @include media-breakpoint-down(xl){
      padding: 100px 0;
    }
    @include media-breakpoint-down(md){
      padding: 60px 0;
    }
  }
  .kl-text-training-wrap{
    position: relative;
    z-index: 1;
    .kl-decor-scrible{
      flex: 0 0 auto;
      @include media-breakpoint-down(lg){
        max-width: 50px;
      }
      @include media-breakpoint-up(lg){
        transform: translateX(75%);
      }
    }
  }
}

.kl-section-press-intro{
  padding: 130px 0 60px;
  @include media-breakpoint-down(lg){
    padding: 60px 0 50px;
  }
}

.kl-section-resource-press{
  position: relative;
  padding: 67px 0 84px;
  @include media-breakpoint-down(lg){
    padding: 60px 0 60px;
  }
}

.kl-resource-press-bloc{
  z-index: 2;
  position: relative;
  .kl-polka-dots-decor{
    display: inline-block;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(-25%, -52%);
    z-index: -1;
  }
  .kl-decor-scrible{
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 25%);
  }
  .kl-decor-scrible-right{
    position: absolute;
    right: 0;
    top: -65px;
    transform: translateY(-50%);
  }
  .kl-decor-scroll{
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
  }
  @include media-breakpoint-down(xxl_1366){
    .kl-decor-scroll{
      right: -40px;
    }
  }
  @include media-breakpoint-down(md){
    .kl-polka-dots-decor{
      max-width: 100px;
      transform: translate(-25%, -40%);
    }
    .kl-decor-scrible{
       max-width: 55px;
    }
    .kl-decor-scrible-right{
      max-width: 60px;
      top: -60px;
    }
  }
}

.kl-title-point-flush{
  position: relative;
  z-index: 1;
  .kl-flush-point{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: -2;
  }
  @include media-breakpoint-down(lg){
    .kl-flush-point{
      max-width: 28px;
      bottom: -5px;
    }
  }
}

.kl-title-trans-left{
  position: relative;
  z-index: 1;
  .kl-title-point-flush{
    z-index: -1;
    position: relative;
    transform: translate(-150px, 15px);
  }
  @include media-breakpoint-down(xl){
    .kl-title-point-flush{
      transform: translate(-130px, -10px);
    }
  }
  @include media-breakpoint-down(lg){
    .kl-title-point-flush{
      transform: translate(-100px,  -10px);
    }
  }
  @include media-breakpoint-down(md){
    .kl-title-point-flush{
      transform: translate(0);
      margin-bottom: 30px;
    }
  }
}