%text_55{
  font-size: 55px;
  line-height: 1.34em;
  font-weight: $bold;
}
%text_26{
  font-size: 26px;
  line-height:  1.07em;
}
%text_24{
  font-size: 24px;
  line-height: 1.29em;
}
%text_18{
  font-size: 18px;
  line-height:  1.2em;
}
%text_16{
  font-size: 16px;
  line-height: 1.25em;
}
%text_14{
  font-size: 14px;
  line-height: 1.2em;
}
