.kl-img-group-deco-wrap{
  .kl-description{
    padding-left: 80px;
    p{
      font-weight: $medium;
    }
  }
  @include media-breakpoint-down(sm){
    .kl-description{
      padding-left: 60px;
    }
    .kl-decor-scrible{
      max-width: 80px;
    }
  }
  @include media-breakpoint-up(lg){
    .kl-description{
      padding-left: 140px;
    }
  }
}

.kl-img-group-deco{
  position: relative;
  z-index: 2;
  padding: 0 0 67px 35px;
  .kl-flush-decor{
    position: absolute;
    left: 25%;
    transform: translate(-25%, 100%);
    bottom: -15px;
  }
  .kl-bg-img-group{
    position: absolute;
    z-index: -1;
    left: -20px;
    bottom: 0;
    display: inline-block;
    max-height: 90%;
    width: 90%;
  }
  .kl-flush-indicator{
    position: absolute;
    z-index: 1;
    bottom: -70px;
    left: -10px;
  }
  .kl-img-group{
    transform: rotate(-1.66deg);
    padding-left: 20px;
    display: inline-block;
  }
  .kl-img-prc{
    display: inline-block;
    max-height: 430px;
    object-fit: cover;
    border-radius: 6px;
  }
  .kl-decor-polka{
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: -20px;
    display: inline-block;
  }
  @include media-breakpoint-down(xxl_1366){
    .kl-bg-img-group{
      left: 0;
    }
  }
  @include media-breakpoint-down(xl){
    padding: 0 0 45px 20px;
    .kl-decor-polka{
      max-width: 100px;
      right: 15%;
    }
  }
  @include media-breakpoint-down(lg){
    .kl-flush-indicator{
      width: 75px;
      bottom: -40px;
    }
    .kl-flush-decor{
      max-width: 60px;
    }
  }
  @include media-breakpoint-down(md){
    .kl-img-group{
      min-height: auto;
    }
  }
  @include media-breakpoint-down(sm){
    .kl-flush-indicator{
      width: 60px;
      bottom: -30px;
    }
  }
  @include media-breakpoint-down(xsm){
    padding: 0 0 25px 20px;
    .kl-img-group{
      padding-left: 0;
    }
  }
  @include media-breakpoint-up(xl){
    .kl-decor-polka{
      right: -10%;
    }
  }
}

.kl-bg-section-left{
  position: relative;
  .kl-bg-section{
    position: absolute;
    width: 57%;
    left: 0;
    //top: 0;
    height: 100%;
    background: $white;
    z-index: -1;
    border-radius: 0 35% 0 0;
  }
  @include media-breakpoint-down(lg){
    .kl-bg-section{
      border-radius: 0 30% 0 0;
      width: 50%;
    }
  }
  @include media-breakpoint-down(md){
    .kl-bg-section{
      border-radius: 0 0 0 0;
      width: 100%;
    }
  }
  @media (min-width: 1500px) {
    .kl-bg-section{
      width: 792px;
      left: 50%;
      transform: translateX(calc(-50% - 300px));
    }
  }
}

.kl-card-list{
  position: relative;
  padding: 44px 25px 39px;
  overflow: hidden;
  transform: rotate(-1deg);
  display: flex;
  flex-direction: column;
  z-index: 2;
  .kl-decor-card{
    margin-top: auto;
  }
  &.kl-design-2{
    transform: rotate(1deg);
  }
  .kl-border-list{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .kl-border-left, .kl-border-right, .kl-border-top, .kl-border-bottom{
    position: absolute;
    svg{
      height: 100%;
      width: 100%;
    }
  }
  .kl-border-left{
    top: 15px;
    left: 0;
    bottom: 7px;
  }
  .kl-border-right{
    top: 10px;
    right: 1px;
    bottom: 10px;
  }
  .kl-border-top{
    top: 0;
    left: 0;
    right: 2px;
  }
  .kl-border-bottom{
    bottom: 0;
    left: 1px;
    right: 2px;
  }
  @include media-breakpoint-down(md){
    padding: 30px 15px 30px;
    .kl-list-card-df{
      padding-left: 1.3rem;
    }
    .kl-decor-card{
      svg, img{
        max-width: 75px;
      }
    }
  }
}

.kl-list-card-df{
  li{
    @include text_24;
    margin-bottom: 10px;
    font-weight: $medium;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.kl-svg-resp-wrap{
  display: inline-block;
  width: auto;
  svg{
    width: 100%;
    height: auto;
  }
}

.kl-text-surrond-wrap{
  position: relative;
  padding: 15px 15px;
  .kl-bg-text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .kl-flush{
    position: absolute;
    left: 0;
    bottom: -25px;
    transform: translate(-85%, 0%);
  }
  .kl-text{
    transform: rotate(-10.66deg);
  }
  h6{
    line-height: 1.1em;
  }
}

/** bg-section **/
.kl-bg-section-left-wrap-custom{
  position: relative;
  z-index: 2;
  .kl-bg-section-custom{
    position: absolute;
    width: 40%;
    left: 0;
    top: 0;
    height: 100%;
    background: $white;
    z-index: -1;
    border-radius: 0 300px 300px 0;
  }
  @include media-breakpoint-down(xl){
    .kl-bg-section-custom{
      border-radius: 0 200px 200px 0;
      width: 50%;
    }
  }
  @include media-breakpoint-down(md){
    .kl-bg-section-custom{
      border-radius: 0 150px 150px 0;
      width: 100%;
    }
  }
  @media (min-width: 1500px) {
    .kl-bg-section-custom{
      width: 45%;
    }
  }
  @media (min-width: 1950px) {
    .kl-bg-section-custom{
      width: 625px;
      left: 50%;
      transform: translateX(calc(-50% - 400px));
    }
  }
}

@each $animation, $values in $animation_delay{
  .kl-animation__delay-#{$animation}{
    animation-delay: #{$values}s !important;
    height: auto;
  }
}